<head>
    <title>BlueBox - Cyber threat Hunting & Malware Analysis Box </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BlueBox - Cyber threat Hunting & Malware Analysis Box.">
    <meta name="keywords" content="Cyber threat Hunting & Malware Analysis Box.">
    <meta name="author" content="Svdwi">

    <!-- Favicon icon -->
<script src="/static/js/jquery.min.js"></script>

    <script src="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <script src="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/js/pages/ac-notification.js"></script>

    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/plugins/notification/css/notification.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/css/layouts/dark.css">
    <link rel="stylesheet" href="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/fonts/fontawesome/css/fontawesome-all.min.css">

</head>