    <nav class="pcoded-navbar navbar-dark brand-dark">
        <div class="navbar-wrapper bg-light">
            <div class="navbar-brand header-logo bg-light">
                <a href="/" class="b-brand">
                    <div class="">
                        <i class="feather icon-box f-20 "></i>
                    </div>
                    <span class="b-title">BlueBox</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="/"><span></span></a>
            </div>
            <div class="navbar-content scroll-div bg-light">
                <ul class="nav pcoded-inner-navbar bg-light">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard " class="nav-item ">
                        <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                        
                    </li>
					
				 
                    <li class="nav-item pcoded-menu-caption">
                        <label>Scans Management</label>
                    </li>
                    
                     
					<li data-username="Scan a File" class="nav-item">
					<a href="/scan" class="nav-link">
					<span class="pcoded-micon"><i class="feather icon-file"></i></span><span class="pcoded-mtext">Scan a File</span></a>
					</li>
					
					
                    <li data-username="Scan an Observable" class="nav-item"><a href="/scan" class="nav-link"><span class="pcoded-micon"><i class="feather icon-search"></i></span><span class="pcoded-mtext">Scan an Observable</span></a></li>
                   
                   
                      <li class="nav-item pcoded-menu-caption">
                        <label>Threat Intelligence ioc </label>
                    </li>
                    <li data-username="Threat intelligence feeds" class="nav-item"><a href="/feeds" class="nav-link"><span class="pcoded-micon"><i class="feather icon-search"></i></span><span class="pcoded-mtext">Latest feeds</span></a></li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>Frofile</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="profile" class="">Profile Settings</a></li>
                            <li class=""><a href="form-elements-advance.html" class="">Token Keys </a></li>
                             
                        </ul>
                    </li>
             <li data-username="logout" class="nav-item"><a href="/logout" class="nav-link"><span class="pcoded-micon"><i class="feather  icon-log-out"></i></span><span class="pcoded-mtext">logout</span></a></li>

                    
                    
                   
                   
                    
                   
                    
                   
                </ul>
            </div>
        </div>
    </nav>
