 



<html lang="en">  


 {% include 'includes/head.html' %}  

 
<body> 
    <div class="auth-wrapper aut-bg-img">
        <div class="auth-content">
            <div class="text-white">
                <div class="card-body text-center">
                    <div class="mb-4">
                       <i class="feather icon-box f-50 "></i>              
					   </div>
						<h3 class="mb-1 text-white">BlueBox </h3>
						<h6 class="mb-4 text-white">Cyber threat Hunting & Malware Analysis Box </h6>
												<form action="/page/register" method="POST">

						<div class="input-group mb-3">
						
							<input type="email" class="form-control" name="email"  placeholder="email">
							</div>
							<div class="input-group mb-3">
						
							<input type="text" class="form-control" name="username"  placeholder="username">
							</div>
							
									<div class="input-group mb-2">
									<input type="password" class="form-control" name="password" placeholder="password">
									</div>	
 <center>									

<small style="color:pink" class=" form-text "> {{error_msg}} </small>	</center>

  
				<input type="submit" value="Register" class="btn btn-outline-light" title="" data-toggle="tooltip" data-original-title="btn btn-outline-light" />              
                 </form>
				</div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="../assets/js/vendor-all.min.js"></script><script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>

</body></html>