<!DOCTYPE html>
<html lang="en">

<head>
   {% include 'includes/head.html' %}  


</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
         {% include 'includes/nav.html' %}  

    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
        {% include 'includes/header.html' %}  

    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
<div class="pcoded-content">

        <h4 class="mt-4"> <b>BlueBox -  Analyze files, domains, IPs in multiple ways from a single API . </b><hr>

<div class="card text-center bg-light">
                                            <div class="card-body bg-light ">
                                                <div class="mb-4">
<i class="feather icon-box f-50 "></i>                    </div>
                                                <h3 class="mb-1 text-white">BlueBox </h3> 
<p class="card-text">Cyber threat Hunting &amp; Malware Analysis Box

</p>
                                                <p class="card-text"><small class="text-muted">Open Source Project Developed By Aziz Saadaoui </small></p>
                                            </div>
                                        </div>


                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-6 ">
                                    <div class="card daily-sales bg-light">
                                        <div class="card-block">
                                            <h6 class="mb-4">Files Scanned</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather  icon-file text-c-green f-30 m-r-10"></i>{{ malfile_count}}</h3>
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{malfile_count/10}}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="card Monthly-sales bg-light">
                                        <div class="card-block">
                                            <h6 class="mb-4">Url Scanned</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather  icon-link text-c-green f-30 m-r-10"></i> {{ malurl_count}}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{malurl_count/10}}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly  sales section ] end-->
                                <!--[ year  sales section ] starts-->
                            
                                <!--[ year  sales section ] end-->
                                <!--[ Recent Users ] start-->
						<div class="col-md-6 col-xl-6">
                                    <div class="card card-social bg-light">
                                        <div class="card-block border-bottom">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-zap f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
												<h3 class="f-w-300">Malware Analysis</h3>
												<span class="d-block text">Analyze Malware & Detection </span>
											</div>
         <input type="button"  class="btn btn-outline-success" onclick="location.href='/scan';" value="@" />     
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div><div class="col-md-6 col-xl-6">
                                    <div class="card card-social bg-light">
                                        <div class="card-block border-bottom">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-search f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
												<h3 class="f-w-300">Scan an Observable</h3>
												<span class="d-block text-uppercase">Malicious URl Detection</span>
											</div>
         <input type="button"  class="btn btn-outline-success" onclick="location.href='/scan';" value="@" />     
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
								
							 
<div class="col-md-12 col-xl-12">
                                    <div class="card card-social bg-light">
                                        <div class="card-block border-bottom">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-file f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
												<h3 class="f-w-300">Threat intelligence Malware feeds</h3>
												<span class="d-block text-uppercase">Latest Malware Feeds</span>
											</div>
                                          
         <input type="button"  class="btn btn-outline-success" onclick="location.href='/feeds';" value="@" />     
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
 
								
								
                       <div class="col-xl-12 col-md-6">
                                    <div class="card user-list bg-light" style="height: auto;">
                                        <div class="card-header">
                                            <h5>Scanned Files List</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-106px, 41px, 0px);">
                                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span style=""><i class="feather icon-minus"></i> collapse</span><span style="display: none;"><i class="feather icon-plus"></i> expand</span></a></li>
                                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block pb-0" style="">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Hash</th>
                                                            <th>Type</th>
                                                            <th>Status</th>
                                                    </tr></thead>
                                                    <tbody>
														{% for i in malfile %}
 
															<tr>
															<td><h6 class="mb-1">{{i.Name}}</h6></td>

															<td><h6 class="mb-1">{{i.Hash}}</h6></td>



															<td><h6 class="mb-1">{{i.ftype}}</h6></td>
															<td><h6 class="mb-1">{{i.Status}}</h6></td>


															</tr>
														{% endfor %}
                                                     
  
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-xl-12 col-md-6">
                                    <div class="card user-list bg-light" style="height: auto;">
                                        <div class="card-header">
                                            <h5>Scanned Urls  List</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-106px, 41px, 0px);">
                                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span style=""><i class="feather icon-minus"></i> collapse</span><span style="display: none;"><i class="feather icon-plus"></i> expand</span></a></li>
                                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block pb-0" style="">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Url/Website</th>
                                                            <th>Status</th>
                                                    </tr></thead>
                                                    <tbody>
														{% for i in malurl %}
 
															<tr>
															<td><h6 class="mb-1">{{i.url}}</h6></td>
															<td><h6 class="mb-1">{{i.Status}}</h6></td>


															</tr>
														{% endfor %}
                                                     
  
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                 <!--[ Recent Users ] end-->

                                <!-- [ statistics year chart ] start -->
                        
                                <!-- [ statistics year chart ] end -->
                                <!--[social-media section] start-->
                                
                           
                           
                                <!--[social-media section] end-->
   
                                <!-- [ rating list ] end-->
          

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="static/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="static/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="static/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="static/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="static/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
<script src="static/js/vendor-all.min.js"></script>
	<script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script src="static/js/pcoded.min.js"></script>

</body>
</html>
